repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, devel, --branch, master]
    - id: check-toml
    - id: check-yaml
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.0
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: ^sd_lock_utility/

  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
    - id: black
      args: [-l, "90"]

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
    - id: bandit
      files: ^sd_lock_utility/

  - repo: local
    hooks:

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      files: ^sd_lock_utility/
      args: [--ignore-missing-imports, --no-namespace-packages]
      require_serial: true
